.requestForm {
	display: grid;
	gap: 20px;
	grid-template-columns: auto auto;
	grid-template-areas:
		"name name"
		"tel terms"
		"button button"
		"success success";
}

.name {
	grid-area: name;
}

.tel {
	grid-area: tel;
}

.email {
	grid-area: email;
}

.terms {
	color: #4F4F4F;

	font-size: 10px;

	font-weight: 400;
	line-height: 14px;
	grid-area: terms;
}

.button {
	grid-area: button;
}

.success {
	padding: 10px;

	border-radius: 5px;
	background: var(--green-light);

	font-size: 10px;

	font-weight: 400;
	line-height: 16px;
	grid-area: success;
}

@media screen and (max-width: 620px) {
	.requestForm {
		grid-template-columns: 1fr;
		grid-template-areas:
			"name"
			"tel"
			"email"
			"button"
			"terms"
			"success";
	}
}
