.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 100px 20px;
}

.content {
	display: grid;
	grid-template-columns: 260px 1fr;
	gap: 40px;

	align-items: flex-start;
}

.speech {
	position: relative;

	width: 260px;
	padding: 20px 20px 30px;

	text-align: center;
	text-align: left;

	color: #00BFB6;
	border: 2px solid #27AAE1;
	border-radius: 20px;

	font-weight: 900;
}

.speech::before {
	position: absolute;
	right: 22px;
	bottom: -18px;

	width: 0;
	height: 0;

	content: "";

	border-top: 8px solid #27AAE1;
	border-right: 8px solid #27AAE1;
	border-bottom: 8px solid transparent;
	border-left: 8px solid transparent;
}

.speech::after {
	position: absolute;
	right: 24px;
	bottom: -13px;

	width: 0;
	height: 0;

	content: "";

	border-top: 10px solid #F6F7F9;
	border-right: 10px solid #F6F7F9;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
}

.speechTitle {
	color: var(--black);

	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}

.speechText {
	margin-top: 20px;

	color: var(--black);

	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
}

.speechLuck {
	margin-top: 20px;

	color: var(--black);

	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
}

.owl {
	position: absolute;
	bottom: -162px;
	left: -43px;
}

.tabList {
	display: flex;
	justify-content: space-between;

	margin-bottom: 50px;

	list-style: none;

	border-bottom: 1px solid #E0E0E0;
}

.tab {
	display: grid;

	padding: 15px;

	cursor: pointer;

	border-bottom: 4px solid transparent;
	outline: none;
	gap: 0 15px;
	grid-template-columns: 49px auto;
	grid-template-areas:
		"icon title"
		"icon text";
}

.tabSelected {
	border-bottom: 4px solid transparent;
	border-image: linear-gradient(90deg, #F7941D 0%, #27AAE1 100%);
	border-image-slice: 1;
}

.tabIcon {
	grid-area: icon;
}

.tabTitle {
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	grid-area: title;
}

.tabText {
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	grid-area: text;
}

.tabPanel {
	display: flex !important;
	flex-wrap: wrap;
	gap: 20px;
}

.tabItem {
	position: relative;

	display: inline-block;

	padding: 15px 20px;

	border-radius: 6px;
	background: #FFF;
	background: var(--white);

	font-size: 14px;

	font-weight: 500;
	line-height: 17px;
}

.tabItem::before {
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	content: "";
	transition: opacity 0.3s;
	transform: translate3d(0, 20px, 0) scale(0.95);

	opacity: 0.3;
	opacity: var(0.7);
	border-radius: inherit;
	background: linear-gradient(90deg, #F7941D 0%, #27AAE1 100%);
	filter: blur(20px);
}

.tabItem:hover::before {
	opacity: 1;
}

@media screen and (max-width: 830px) {
	.container {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.content {
		grid-template-columns: 1fr;
	}

	.speech {
		justify-self: center;
	}

	.owl {
		bottom: -32px;
		left: -153px;
	}
}

@media screen and (max-width: 535px) {
	.tabList {
		margin-bottom: 15px;
	}

	.tab {
		gap: 0;
		grid-template-columns: 1fr;
		grid-template-areas:
			"icon"
			"title"
			"text";
		justify-items: center;

		padding: 5px;
	}

	.tabItem {
		padding: 15px;
	}

	.owl {
		bottom: -92px;
		left: -63px;

		transform: scale(0.5);
	}

	.speechLuck {
		text-align: right;
	}
}
