.card {
	border-radius: 10px;
	background: var(--white);
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
}

.blueLight {
	background: var(--blue-light);
}

.blue {
	background: var(--blue);
}

.red {
	background: var(--red);
}

.green {
	background: var(--green);
}

.orange {
	background: var(--orange);
}

.pink {
	background: var(--pink);
}
