.inputWrapper {
	position: relative;
}

.input {
	width: 100%;
	max-width: 100%;
	padding: 10px 15px;

	border: 1px solid transparent;
	border-radius: 6px;

	font-size: 16px;

	font-weight: 400;
	line-height: 22px;
}

.input::placeholder {
	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.light {
	outline-color: #FFF;
	background: #FFF;
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
}

.light::placeholder {
	color: #A4A4A4;
}

.dark {
	color: #000;
	outline-color: #00093C1A;
	background: #00093C1A;
}

.dark::placeholder {
	color: #4F4F4F;
}

.error {
	border: 1px solid var(--red);
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	left: 10px;

	color: var(--red);

	font-size: 15px;
}
