.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	padding: 12px 45px;

	cursor: pointer;
	transition: all 0.3s;
	text-align: center;

	border: 1px solid transparent;
	border-radius: 10px;

	font-size: 14px;
	font-weight: 500;
}

.ghost {
	border: 1px solid #EBEBEB;
	background-color: none;
}

.ghost:hover {
	color: var(--white);
	background-color: var(--primary);
}

.ghost svg {
	stroke: var(--primary);
}

.primary svg {
	stroke: var(--white);
}

.ghost:hover svg {
	stroke: var(--white);
}

.primary {
	color: var(--white);
	background-color: var(--primary);
}

.primary:hover {
	color: var(--primary);
	border: 1px solid var(--primary);
	background-color: var(--white);
}

.primary:hover svg {
	stroke: var(--primary);
}

.form {
	color: var(--white);
	background-color: var(--orange);
}

.form:hover {
	color: var(--primary);
	border: 1px solid var(--orange);
	background-color: var(--white);
}

.arrow {
	display: flex;

	margin-left: 10px;
}

.down {
	transition: all 0.3s;
	transform: rotate(90deg);
}
