.firstLevel {
	display: grid;
	align-items: center;

	margin-bottom: 30px;

	cursor: pointer;

	color: #787D85;

	font-size: 18px;

	font-weight: 500;
	line-height: 25px;
	grid-template-columns: 24px 1fr;
	gap: 20px;
}

.firstLevel svg {
	fill: #787D85;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondBlock {
	margin-left: 12px;
	padding-left: 32px;

	border-left: 1px dashed var(--red);
}

.secondLevel {
	display: block;

	margin-bottom: 13px;

	cursor: pointer;
	text-transform: uppercase;

	color: #787D85;

	font-size: 12px;

	font-weight: 300;
	line-height: 16px;
}

.secondLevel:hover {
	color: var(--primary);
}

.secondLevelBlock {
	overflow: hidden;
}

.thirdLevel {
	display: block;

	cursor: pointer;

	color: #787D85;

	font-size: 14px;

	font-weight: 500;
	line-height: 19px;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary);
}
