.menu {

}

.firstLevel {
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px;
	align-items: center;
	margin-bottom: 30px;
	cursor: pointer;

	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	color: #787D85;
}

.firstLevel svg {
	fill: #787D85;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondBlock {
	margin-left: 12px;
	padding-left: 32px;
	border-left: 1px dashed var(--red);
}

.secondCategory {
	margin-bottom: 20px;
}

.secondLevel {
	display: block;
	margin-bottom: 13px;
	text-transform: uppercase;
	cursor: pointer;

	font-weight: 300;
	font-size: 12px;
	line-height: 16px;
	color: #787D85;
}

.secondLevel:hover {
	color: var(--primary);
}

.secondLevelBlock {
	display: none;
}

.secondLevelBlockOpened {
	display: block;
}

.thirdLevel {
	display: block;
	margin-bottom: 10px;
	cursor: pointer;

	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	color: #787D85;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary);
}