.intro {
	display: flex;
}

.content {
	flex: 0 1 55%;

	padding: 125px 85px 175px 20px;

	animation: animate-bg 25s linear infinite;

	color: var(--white);
	background: radial-gradient(#27AAE1 2%, transparent 5%), var(--primary);
	background-position: 0% 0%;
	background-size: 30px 29px;
}

.container {
	position: relative;

	max-width: 575px;
	margin-left: auto;
}

.title {
	position: relative;
	z-index: 10;

	margin-bottom: 40px;

	font-size: 36px;
	font-weight: 700;
	line-height: 80px;
}

.text {
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
}

.promo {
	flex: 0 1 45%;

	background: url("./images/intro.jpg") no-repeat;
	background-size: cover;
}

.crossIcon {
	position: absolute;
	top: -60px;
	left: -130px;
}

.circleIcon {
	position: absolute;
	top: -100px;
	right: -120px;
}

.trianleIcon {
	position: absolute;
	bottom: -140px;
	left: 300px;
}

.vectorIcon {
	position: absolute;
	top: 70px;
	right: -250px;
}

@media screen and (max-width: 1100px) {
	.content {
		padding: 90px 40px 90px 20px;
	}
}

@media screen and (max-width: 900px) {
	.title {
		font-size: 26px;
		line-height: 45px;
	}

	.text {
		font-size: 17px;
		line-height: 21px;
	}
}

@media screen and (max-width: 767px) {
	.intro {
		flex-direction: column-reverse;
	}

	.promo {
		min-height: 375px;
	}

	.container {
		max-width: 100%;
	}

	.crossIcon {
		top: -182px;
		left: -48px;
	}

	.circleIcon {
		top: -316px;
		right: -9px;
	}

	.trianleIcon {
		bottom: -140px;
		left: 66px;
	}

	.vectorIcon {
		top: 38px;
		right: 105px;
	}
}

@media screen and (max-width: 590px) {
	.promo {
		min-height: 300px;
	}
}

@media screen and (max-width: 479px) {
	.content {
		padding: 30px 20px 40px;

		background-size: 20px 21px;
	}

	.title {
		margin-bottom: 20px;

		font-size: 18px;
		line-height: 22px;
	}

	.promo {
		min-height: 250px;
	}

	.text {
		font-size: 14px;
		line-height: 17px;
	}

	.crossIcon {
		top: -249px;
		left: -69px;
	}

	.circleIcon {
		top: -183px;
		right: -49px;
	}

	.trianleIcon {
		bottom: -77px;
		left: 200px;
	}

	.vectorIcon {
		top: 72px;
		right: 71px;
	}

	.crossIcon svg {
		transform: scale(0.6);
	}

	.circleIcon svg {
		transform: scale(0.7);
	}

	.trianleIcon svg {
		transform: scale(0.5);
	}

	.vectorIcon svg {
		transform: scale(0.7);
	}
}

@keyframes animate-bg {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 100% 50%;
	}
}
