.review {
	display: grid;
	grid-template-columns: 30px 1fr auto auto;

	align-items: center;
	gap: 10px;
	grid-template-areas:
		"icon title date rating"
		"desc desc desc desc";
}

.icon {
	grid-area: icon;
}

.title {
	grid-area: title;
}

.date {
	margin-right: 10px;

	color: #3B434E;

	font-size: 14px;

	font-weight: 400;
	line-height: 19px;
	grid-area: date;
}

.rating {
	grid-area: rating;
}

.desc {
	color: #3B434E;

	font-size: 14px;

	font-weight: 400;
	line-height: 24px;
	grid-area: desc;
}

.title span {
	color: #3B434E;

	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
}

.title h3 {
	display: inline-block;

	color: #3B434E;

	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
}

@media screen and (max-width: 998px) {
	.review {
		grid-template-areas:
			"icon title title title"
			"date date . rating"
			"desc desc desc desc";
	}
}

@media screen and (max-width: 430px) {
	.review {
		grid-template-columns: 30px 1fr;
		grid-template-areas:
			"icon title"
			"date date"
			"rating rating"
			"desc desc";
	}
}
