.review {
	display: grid;
	grid-template-columns: 30px 1fr auto auto;
	align-items: center;
	gap: 10px;
	grid-template-areas: 
		"icon title date rating"
		"desc desc desc desc"
	;
}

.icon {
	grid-area: icon;
}

.title {
	grid-area: title;
}

.date {
	grid-area: date;
	margin-right: 10px;

	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #3B434E;
}

.rating {
	grid-area: rating;
}

.desc {
	grid-area: desc;

	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #3B434E;
}

/*  */

.title span {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: #3B434E;
}

.title h3 {
	display: inline-block;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #3B434E;
}

@media screen and (max-width: 998px) {
	.review {
		grid-template-areas: 
			"icon title title title"
			"date date . rating"
			"desc desc desc desc"
		;
	}
}

@media screen and (max-width: 430px) {
	.review {
		grid-template-columns: 30px 1fr;
		grid-template-areas: 
			"icon title"
			"date date"
			"rating rating"
			"desc desc"
		;
	}
}