.ratingWrapper {
	position: relative;
}

.star svg {
	margin-right: 5px;
	outline: none;
}

.filled svg {
	fill: var(--gold);
}

.editable {
	cursor: pointer;
}

.errorMessage {
	position: absolute;
	color: var(--red);
	bottom: -15px;
	left: 0;
	font-size: 13px;
	
}