.hh {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 30px;
}

.card {
	padding: 20px 20px 30px;
}

.title {
	margin-bottom: 12px;

	text-align: center;

	color: #3B434E;

	font-size: 20px;
	font-weight: 300;
	line-height: 27px;
}

.count {
	text-align: center;

	color: var(--primary);

	font-size: 36px;
	font-weight: 700;
	line-height: 49px;
}

.salary {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	padding: 20px;
}

.level {
	margin-bottom: 8px;

	text-align: center;

	color: #3B434E;

	font-size: 20px;
	font-weight: 300;
	line-height: 27px;
}

.salaryValue {
	margin-bottom: 12px;

	text-align: center;

	color: #3B434E;

	font-size: 26px;
	font-weight: 700;
	line-height: 35px;
}

.rating {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 10px;

	justify-content: center;
}

.filled circle {
	fill: var(--red);
}

.salary > .salaryCard {
	border-right: 1px solid #EBEBEB;
}

.salary > .salaryCard:last-child {
	border: none;
}

@media screen and (max-width: 1500px) {
	.hh {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 1250px) {
	.salary {
		grid-template-columns: 1fr;
		gap: 20px;
	}

	.salary > .salaryCard {
		padding-bottom: 20px;

		border-right: none;
		border-bottom: 1px solid #EBEBEB;
	}

	.salary > .salaryCard:last-child {
		padding-bottom: 0;

		border: none;
	}
}
