.search {
	position: relative;
}

.button {
	position: absolute;
	top: 3px;
	right: 3px;

	width: 39px;
	height: 39px;
	padding: 8px;

	border-radius: 6px;
}

.input {
	width: 100%;
	padding-right: 50px;
}

@media screen and (max-width: 765px) {
	.input {
		padding-left: 50px;
	}
}
