.product {
	display: grid;
	grid-template-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] auto [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratingstart] 1fr [end];
	margin-top: 20px;
	padding: 30px 30px 15px;
}

.logo {
	grid-column: start / logoend;
	grid-row: 1 / span 2;
}

.title {
	grid-column: titlestart / middle;
}

.price, .priceTitle {
	grid-column: pricestart / priceend;
}

.price {
	
}

.credit, .creditTitle {
	grid-column: creditstart / creditend;
}

.rating, .ratingTitle {
	grid-column: ratingstart / end;
	justify-self: flex-end;
}

.tags {
	grid-column: titlestart / middle;
}

.hr {
	grid-column: start / end;
}

.desc {
	grid-column: start / end;
}

.features {
	grid-column: start / middle;
}
.advBlock {
	grid-column: middle / end;
}

.actions {
	grid-column: start / end;
	display: flex;
	flex-wrap: wrap;
	gap: 10px 20px;
}

/*  */

.logo img {
	border-radius: 5px;
}

.title {
	align-self: center;

	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	color: #3B434E;
}

.price, .credit {
	align-self: flex-end;
	font-weight: 400;
	font-size: 20px;
	line-height: 27px;
	color: #3B434E;
}

.month {
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
}

.rating {
	align-self: flex-end;
}

.advBlock {

}

.advantages {
	padding-left: 15px;
	border-left: 3px solid #1DC47E;
	border-radius: 2px;
}

.advantages h4, 
.disadvantages h4 {
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #3B434E;
	margin-bottom: 5px;
}

.advantages p, 
.disadvantages p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #3B434E;
}

.disadvantages {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 15px;
	border-left: 3px solid #FC836D;
	border-radius: 2px;
}

.priceTitle {

}

.creditTitle {

}

.ratingTitle {
	text-decoration: underline;
}

.desc {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #3B434E;
	margin-bottom: 15px;
}

.moreButton {
	
}

.features {
	padding-right: 60px;
}

.characteristics {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 15px;
}

.characteristicName {
	font-weight: 700;
	font-size: 16px;
	line-height: 32px;
	color: #3B434E;
}

.dots {
	border-bottom: 1px dashed #C4C4C4;
	margin-bottom: 10px;
}

.characteristicValue {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #3B434E;
	text-align: right;
}

.reviews {
	padding: 25px 30px 30px;
	overflow: hidden;
}

.closed {
	pointer-events: none;
}

@media screen and (max-width: 1225px) {
	.product {
		grid-template-columns: 70px 30px auto 40px auto 40px 1fr;
		grid-template-areas:
		"logo . title title title title title"
		"logo . tags tags tags tags tags"
		"price price price . credit . rating"
		"priceTitle priceTitle priceTitle . creditTitle . ratingTitle"
		"hr hr hr hr hr hr hr"
		"desc desc desc desc desc desc desc"
		"features features features features features features features"
		"advBlock advBlock advBlock advBlock advBlock advBlock advBlock"
		"hr2 hr2 hr2 hr2 hr2 hr2 hr2"
		"actions actions actions actions actions actions actions"
		;
	}
	.logo {
		grid-area: logo;
		margin-bottom: 20px;
	}
	.title {
		grid-area: title;
	}
	
	.tags {
		grid-area: tags;
	}
	.price {
		grid-area: price;
	}
	.credit {
		grid-area: credit;
	}
	.rating {
		grid-area: rating;
		justify-self: flex-start;
	}
	.priceTitle {
		grid-area: priceTitle;
	}
	.creditTitle {
		grid-area: creditTitle;
	}
	.ratingTitle {
		grid-area: ratingTitle;
		justify-self: flex-start;
	}
	.hr {
		grid-area: hr;
	}
	.desc {
		grid-area: desc;
	}
	.features {
		grid-area: features;
		padding-right: 0;
		margin-bottom: 20px;
	}
	.advBlock {
		grid-area: advBlock;
	}
	.hr2 {
		grid-area: hr2;
	}
	.actions {
		grid-area: actions;
	}
}

@media screen and (max-width: 820px) {
	.product {
		grid-template-columns: 70px 30px 1fr;
		grid-template-areas:
		"logo . title"
		"logo . tags"
		"priceTitle priceTitle price"
		"creditTitle creditTitle credit"
		"rating rating rating"
		"ratingTitle ratingTitle ratingTitle"
		"hr hr hr"
		"desc desc desc"
		"features features features"
		"advBlock advBlock advBlock"
		"hr2 hr2 hr2"
		"actions actions actions"
		;
	}
	.price, .credit {
		align-self: center;
		margin-bottom: 5px;
	}
}

@media screen and (max-width: 480px) {
	.product {
		grid-template-columns: 1fr;
		padding: 30px 15px;
		grid-template-areas:
			"logo"
			"title"
			"tags"
			"priceTitle"
			"price"
			"creditTitle"
			"credit"
			"rating"
			"ratingTitle"
			"hr"
			"desc"
			"features"
			"advBlock"
			"hr2"
			"actions"
		;
	}
	.title {
		margin-bottom: 10px;
	}
	.reviews {
		padding: 25px 15px;
	}
}