.footer {
	display: grid;

	padding: 70px 0;

	color: var(--white);
	background: var(--primary);
	grid-template: auto / auto repeat(5, minmax(115px, 265px)) auto;
	grid-template-areas: ". column1 column2 column3 column4 column5 .";
	gap: 35px 70px;
}

.footer a:hover {
	text-decoration: underline;
}

.column1 {
	padding-top: 50px;
	grid-area: column1;
}

.column2 {
	grid-area: column2;
}

.column3 {
	grid-area: column3;
}

.column4 {
	grid-area: column4;
}

.column5 {
	grid-area: column5;
}

.title {
	margin: 0;
	margin-bottom: 20px;

	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
}

.link {
	display: table;

	margin-bottom: 10px;

	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}

.logo {
	display: block;

	margin-bottom: 55px;
}

.tel {
	display: block;

	margin-bottom: 12px;

	font-size: 18px;

	font-weight: 600;
	line-height: 26px;
}

.address {
	margin-bottom: 12px;

	font-size: 14px;

	font-weight: 500;
	line-height: 26px;
}

.email {
	display: block;

	margin-bottom: 35px;

	font-size: 14px;

	font-weight: 500;
	line-height: 26px;
}

.icons {
	display: flex;
	align-items: center;
	justify-content: space-between;

	max-width: 180px;
	margin-bottom: 30px;
	gap: 10px;
}

.copyright {
	color: var(--grey);

	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
}

@media (max-width: 1015px) {
	.footer {
		grid-template-areas:
			". column1 column2 column3 ."
			". column4 column5 column5 .";
		grid-template-columns: auto repeat(3, minmax(115px, 265px)) auto;
	}
}

@media (max-width: 650px) {
	.footer {
		padding: 20px 15px;
		grid-template-areas:
			"column1 column2"
			"column3 column4"
			"column5 .";
		gap: 30px;
		grid-template-columns: repeat(2, minmax(115px, 280px));
	}

	.column1 {
		padding-top: 0;
	}
}

@media (max-width: 400px) {
	.footer {
		grid-template-areas:
			"column1"
			"column2"
			"column3"
			"column4"
			"column5";
		grid-template-columns: minmax(280px, 1fr);
	}
}
