.container {
	display: grid;
	align-items: center;

	max-width: 1185px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	grid-template-columns: 100px auto auto 75px;
	gap: 40px;
	grid-template-areas: "logo menu tel enter";
}

.logo {
	cursor: pointer;
	grid-area: logo;
}

.menu {
	grid-area: menu;
}

.list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 15px;

	list-style: none;
}

.item {
	white-space: nowrap;

	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
}

.item a {
	display: flex;
	align-items: center;
	gap: 5px;
}

.enter {
	grid-area: enter;
	justify-self: self-end;

	display: flex;
	align-items: center;
	gap: 5px;
}

.tel {
	grid-area: tel;
	justify-self: self-end;

	white-space: nowrap;
}

.buttonOpen {
	display: none;

	padding: 0 15px;
}

.menuMobile {
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: none;
	overflow-y: scroll;

	padding: 10px;

	background: #F5F6F8;
}

.buttonClose {
	position: fixed;
	z-index: 10;
	top: 12px;
	left: 13px;
}

@media screen and (max-width: 980px) {
	.list {
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.item {
		flex: 0 1 32%;
	}
}

@media screen and (max-width: 765px) {
	.container {
		padding: 20px 15px;
	}

	.buttonOpen {
		display: block;
	}

	.menuMobile {
		display: initial;
	}
}

@media screen and (max-width: 670px) {
	.container {
		gap: 10px 30px;
		grid-template-areas:
			"logo menu menu menu"
			"logo tel tel enter";
	}

	.list {
		justify-content: flex-end;
	}
}

@media screen and (max-width: 400px) {
	.container {
		grid-template-columns: 100px auto;
		grid-template-areas:
			"logo menu"
			"tel enter";
	}

	.list {
		gap: 5px;
	}

	.tel {
		justify-self: auto;
	}
}
