.reviewForm {
	display: grid;
	grid-template-columns: auto auto 1fr;
	gap: 20px 30px;
	grid-template-areas:
		"name title rating"
		"text text text"
		"submit submit submit";
}

.name {
	grid-area: name;
}

.title {
	grid-area: title;
}

.rating {
	display: flex;
	align-items: center;

	color: #3B434E;

	font-size: 14px;

	font-weight: 400;
	line-height: 19px;
	grid-area: rating;
	justify-self: flex-end;
	gap: 20px;
}

.text {
	grid-area: text;
}

.text textarea {
	width: 100%;
	max-width: 100%;
}

.submit {
	grid-area: submit;
}

.submit span {
	color: #3B434E;

	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.button {
	margin-right: 15px;
}

.panel {
	position: relative;

	margin-top: 15px;
	padding: 15px;

	border-radius: 5px;
}

.success {
	background: var(--green-light);
}

.error {
	background: var(--red-light);
}

.error .close path {
	stroke: var(--red);
}

.success h4 {
	margin-bottom: 5px;

	font-weight: bold;
}

.success p {
	font-size: 14px;
}

.close {
	position: absolute;
	top: 15px;
	right: 15px;

	cursor: pointer;
}

@media screen and (max-width: 1130px) {
	.reviewForm {
		grid-template-areas:
			"name title title"
			"rating rating rating"
			"text text text"
			"submit submit submit";
	}

	.rating {
		justify-self: flex-start;
	}
}

@media screen and (max-width: 870px) {
	.reviewForm {
		grid-template-columns: 1fr;
		grid-template-areas:
			"name"
			"title"
			"rating"
			"text"
			"submit";
	}
}
