html,
body {
	height: 100%;
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F5F6F8;

	font-family: "Noto Sans", sans-serif;
}

#__next {/* stylelint-disable-line */
	height: 100%;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--black: #000;
	--white: #FFF;
	--primary: #00093C;
	--red: #FC836D;
	--red-light: #FFA99A;
	--orange: #F7941D;
	--grey: #B3C0D9;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--blue-light: #F9F8FF;
	--pink: #FFEEF6;
	--blue: #C5DDFF;
	--gold: #FFE38E;
	--font-family: "Noto Sans", sans-serif;
}
