html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background: #F5F6F8;

	font-family: 'Noto Sans', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #000000;
	--white: #ffffff;
	--primary: #00093C;
	--red: #FC836D;
	--orange: #F7941D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--gold: #FFE38E;
	--font-family: 'Noto Sans', sans-serif;
}